:root{
    --principal-color: #f5e1a4;
    --secondary-color: #212529;
    --tertiary-color: #fff;
    --cuaternary-color: #000;
}


.dark-contenedor {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    background-color: var(--secondary-color);
    color:  var(--tertiary-color);
    transition: all 0.3s ease;
}

.dark-contenedor-icono {
    margin-right: 10px;
    font-size: 1.5rem;
    color:  var(--tertiary-color);
    transition: all 0.3s ease;
}

.dark-contenedor-icono:hover {
    color: var(--principal-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.home-contenedor-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-contenedor-social a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--tertiary-color);
    transition: all 0.3s ease;
}

.home-contenedor-social a:hover {
    color: var(--principal-color);
    transform: scale(1.1);
    transition: all 0.3s ease;
}