.experiencia-laboral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    height: calc(100vh - 80px - 90px);
    width: 100%;
    background-color: #212529;
}

.experiencia-laboral-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-content: center;
    justify-content: center;
    width: 70%;;
}

.experiencia-laboral h2 {
    color: #f5e1a4;
    font-size: 2rem;
    margin-bottom: 10px;
}

.experiencia-laboral p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
}

.experiencia-laboral h2 span {
    color: #f5e1a4;
}

.experiencia-laboral a {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #f5e1a4;
}


.experiencia-laboral h2 span {
    color: #fff;
}
.experiencia-laboral-contenedor-trabajo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #f5e1a4;
}
.experiencia-laboral-contenedor-trabajo-img{
    width: 100%;
    height: 110px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 .2rem 0.5rem #f5e1a4;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.experiencia-laboral-contenedor-trabajo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experiencia-laboral-contenedor-trabajo-img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.experiencia-laboral-contenedor-trabajo-texto {
    text-align: center;
    color: #fff;
}

.experiencia-laboral-contenedor-trabajo-texto h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.experiencia-laboral-contenedor-trabajo-texto h4 {
    font-size: 1rem;
    margin-bottom: 10px;
}
.experiencia-laboral-contenedor-trabajo-texto p {
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.experiencia-laboral-contenedor-trabajo-texto a{
    text-decoration: none;
    color: #f5e1a4;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    margin-bottom: 15px;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
.experiencia-laboral-contenedor-trabajo-texto a:hover{
    color: #fff;
}

@media screen and (max-width: 768px){
    .experiencia-laboral h2 {
        color: #f5e1a4;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .experiencia-laboral {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column ;
        height: auto;
        width: 100%;
        background-color: #212529;
    }
    .experiencia-laboral-contenedor{
        grid-template-columns: repeat(1, 1fr);
    }
    .experiencia-laboral-contenedor-trabajo{
        margin-bottom: 10px;
    }
    .experiencia-laboral-contenedor-trabajo-img{
        height: 100px;
    }
    .experiencia-laboral-contenedor-trabajo-texto h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .experiencia-laboral-contenedor-trabajo-texto h4 {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    .experiencia-laboral-contenedor-trabajo-texto p {
        font-size: 0.4rem;
        text-align: center;
        margin-bottom: 15px;
    }
    .experiencia-laboral-contenedor-trabajo-texto a{
        font-size: 0.4rem;
        text-align: center;
        margin-bottom: 15px;
    }

}
