.home-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    background-color: #212529;
}

.home-contenedor-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 .5rem 1rem #f5e1a4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home-contenedor-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-contenedor-foto img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.home-contenedor-texto {
    text-align: center;
    color: #fff;
    margin: 15px;
}

.home-contenedor-texto h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.home-contenedor-texto h1 span {
    color: #f5e1a4;
}

.home-contenedor-texto h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.home-contenedor-texto p {
    font-size: 1rem;
    margin: 20px;
}

.home-contenedor-texto p:hover {
    color: #f5e1a4;
    transition: all 0.3s ease;
}

.home-contenedor-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.home-contenedor-iconos i {
    margin: 0 10px;
    font-size: 2rem;
    color: #fff;
    transition: all 0.3s ease;
}

.home-contenedor-iconos i:hover {
    color: #f5e1a4;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .home-contenedor-foto {
        width: 250px;
        height: 250px;
    }

    .home-contenedor-texto h1 {
        font-size: 1.5rem;
    }

    .home-contenedor-texto h2 {
        font-size: 1.2rem;
    }

    .home-contenedor-texto p {
        font-size: 1rem;
    }

}