.contacto-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    background-color: #212529;
    text-align: center;
    flex-direction: column;
}

.contacto-contenedor-texto h2 {
    color: #f5e1a4;
    font-size: 2rem;
    margin-bottom: 10px;
}

.contacto-contenedor-texto p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contacto-contenedor-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #f5e1a4;
}

.contacto-contenedor-social a {
    margin: 0 10px;
    font-size: 2rem;
    color: #fff;
    transition: all 0.3s ease;
}

.contacto-contenedor-social a:hover {
    color: #f5e1a4;
    transform: scale(1.1);
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}