.portafolio-personal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    background-color: #212529;
}

.portafolio-personal h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.portafolio-personal h2 span {
    color: #f5e1a4;
}

.portafolio-personal p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.portafolio-personal a {
    color: #f5e1a4;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 20px;
}


.contenedor-portafolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    align-content: center;
    justify-content: center;
    width: 60%;
    margin: 30px;
}

.card {
    height: auto;
    width: 350px;
    background-color: #212529;
    border: 1px solid #f5e1a4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #f5e1a4;
    padding: 10px;
    margin-bottom: 10px;
}

.card h3 {
    color: #f5e1a4;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-body img {
    width: 100%;
    height: 150px;
    box-shadow: 0px 0px 10px 0px #f5e1a4;
    border: 1px solid #f5e1a4;
    border-radius: 10px;
    margin-bottom: 10px;

}

.card-body img:hover {
    filter:brightness(0.6) ;
    transform: scale(1.05);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-filter:brightness(0.6) ;
}

.card-body p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.iconos-portafolio {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 1.8rem;
    color: #f5e1a4;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid #f5e1a4;
}

.card-footer a {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #f5e1a4;
}

.card-footer a:hover {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .contenedor-portafolio {
        grid-template-columns: repeat(1, 1fr);
    }
    .portafolio-personal p {
        font-size: 0.8rem;
    }
    
    .portafolio-personal a {
        font-size:0.8rem;

    }
}